<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WorkflowPatternFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PromBasePath" value="C:\Users\AFAS\ProM\"/>
    <add key="ToolBasePath" value="C:\Users\AFAS\"/>
    <add key="DatasetBasePath" value="C:\Users\AFAS\Profit analyses\testmap"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AxFormsLaserPrint" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.37.0" newVersion="5.2.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostingCore" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28540" newVersion="1.0.5613.28540" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sedc.Upn.CA.NoteSystem" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28526" newVersion="1.0.5613.28526" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sedc.Upn.CA.ServiceOrders" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28587" newVersion="1.0.5613.28587" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SedcUpnCore" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28522" newVersion="1.0.5613.28522" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SedcCore" publicKeyToken="4495254afeb8e356" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5613.28517" newVersion="1.0.5613.28517" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WorkflowPatternFinder.Properties.Settings>
      <setting name="TreeFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PromFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PatternFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Word2VecFile" serializeAs="String">
        <value />
      </setting>
    </WorkflowPatternFinder.Properties.Settings>
  </userSettings>
</configuration>