<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.1" targetFramework="net47" />
  <package id="GemBox.Spreadsheet" version="41.3.30.1147" targetFramework="net47" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net47" />
  <package id="Microsoft.VisualBasic" version="10.2.0" targetFramework="net47" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net47" />
  <package id="UpnComponents_Dependencies" version="1.0.0" targetFramework="net47" />
</packages>